 DATABASES = {
                user = 'root',
                password = '',
                host = 'localhost',
                database = 'inmobiliaria',
                port = 3306
    }



 DATABASES = {
                user = 'root',
                password = 'incade',
                host = 'localhost',
                database = 'inmobiliaria',
                port = 3306
    }
